@CHARSET "ISO-8859-1";

 body{
	background: white;
}
table{
	padding:10px;
	border-spacing: 12px;
}
.inline{
	display: inline;
}
.left{
	float: left;
}
.right{
	float: right;
}
.label{
	font-size: 14px;
	font-family: Helvetica;
}
#title{
	margin-top: 20px;
	margin-left: 60px;
	background-image: url('seal.png'); 
	background-repeat: no-repeat;
	background-size: 45px, 45px;
	padding-left: 50px;
	font-family: Impact;
	font-size: 18px;
}
#header{
	margin: auto;
	margin-top: -10px;
	padding-right:18px;
	height: 80px;
	width: 100%;
	background: #fec545;
	opacity: 0.9;
	z-index: 2;
}#breadcrumb{
	display: block;
	background: #696969;
	width:100%;
	padding-right: 16px;
	box-shadow: 0px 0px 50px #696969;
}
.crumbs{
	list-style: none;
	overflow: hidden;
	font: 16px Impact, Arial, Sans-Serif;
	margin-top: 0px;
	margin-left: -40px;
	margin-bottom: 0px;
}
.crumbs li{
	float: left;
}
.crumbs li a{
	color: white;
	text-decoration: none;
	padding: 5px 0px 5px 50px;
	background: #494949;
	position: relative;
	display: block;
	float: left;
}
.crumbs li a:after{
	content: " ";
	display: block;
	width: 0px;
	height: 0px;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 30px solid #494949;
	position: absolute;
	left: 100%;
	top: -85%;
	z-index: 2;
}
.crumbs li a:before{
	content: " ";
	display: block;
	width: 0px;
	height: 0px;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 31px solid white;
	position: absolute;
	left: 100%;
	top: -85%;
	z-index: 1;
}
.crumbs li:nth-child(2) a{
	background: #555555;
}
.crumbs li:nth-child(2) a:after{
	border-left-color: #595959;
}
#center{
	display: block;
	margin: auto;
	width: 1000px;
	height: 670px;
	background-image:url("year.jpg");
	padding:15px;
	box-shadow: 0px 0px 50px #444444;
}
#applicant table tr td{
	padding:10px;
	border-spacing: 12px;
}
#degree td{
	width: 120px;
}
#left{
	float:left;
	display:inline-block;
	width:500px;
}
#right{
	display:inline-block;
	float:right;
	width:500px;
}
